@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {

--color-light-100: oklch(98% 0 0);
--color-light-200: oklch(94% 0 0);
--color-light-300: oklch(88% 0 0);

--color-pic-100: oklch(99.4% 0.010 75.164);
--color-pic-300: oklch(22% 0 0);

--shadow-subtle-l: 0 2px 6px rgba(0, 0, 0, 0.10);
--shadow-subtle-d: 0 2px 6px #313131;



--color-dark-300: oklch(21% 0.034 264.665);
--color-dark-200: oklch(24% 0.034 264.665);
--color-dark-100: oklch(31% 0.034 264.665);


--color-mint-900: oklch(30.42% 0.12  237.47);
--color-mint-800: oklch(36.42% 0.12  237.47);
--color-mint-600: #2F4F4F
;
;

--shadow-color: oklch(42% 0.12 145);
  --box-shadow: 0 4px 12px var(--shadow-color);

  --transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
