@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes rainbow-border {
  0% { border-color: #ff0000; }
  16% { border-color: #ff9900; }
  33% { border-color: #ffff00; }
  50% { border-color: #33ff00; }
  66% { border-color: #00ccff; }
  83% { border-color: #9900ff; }
  100% { border-color: #ff0000; }
}

.rainbow-border {
  border-width: 1px;
  border-style: solid;
  animation: rainbow-border 1.5s linear infinite;
  transition: border-color 1.5s ease-out, border-width 1.5s ease-out;
}
@theme {

/* ==================== 1. Navy & Gold ==================== */
/* Light */
--color-light-100: #f7fafc;
--color-light-200: #e3e8ee;
--color-light-300: #cfd8e3;
--color-mint-600: #103647;
--color-secondary-300: #bfa14a;
/* Dark */
--color-dark-300: #0a0c12;
--color-dark-200: #11131a;
--color-dark-100: #181b24;
--color-mint-600: #103647;
--color-secondary: #FFA600;



/* ==================== 3. Slate & Red ==================== */
/* Light */
/* --color-light-100: #f6f7f9;
--color-light-200: #e2e4e8;
--color-light-300: #c7cbd1;
--color-mint-600: #b71c1c;
--color-secondary-300: #374151; */
/* Dark */
/* --color-dark-300: #111113;
--color-dark-200: #1b1c1e;
--color-dark-100: #28292b;
--color-mint-600: #c62828;
--color-secondary-300: #64748b; */


/* ==================== 7. Carbon & Teal ==================== */
/* Light */
/* --color-light-100: #f6f8f7;
--color-light-200: #e2e7e5;
--color-light-300: #c7d1ce;
--color-mint-600: #006075;
--color-secondary-300: #263238; */
/* Dark */
/* --color-dark-300: #101211;
--color-dark-200: #1a1e1c;
--color-dark-100: #232926;
--color-mint-600: #003019;
--color-secondary-300: #455a64; */

/* Sombras sutiles */

--shadow-subtle-l:0 2px 12px 0 rgba(44, 62, 80, 0.08), 0 1.5px 6px 0 rgba(44, 62, 80, 0.04);
--shadow-subtle-d: 0 2px 12px 0 rgba(255, 255, 255, 0.08), 0 1.5px 6px 0 rgba(255, 255, 255, 0.04);

--shadow-ai-l: 0 8px 32px 0 rgba(44, 62, 80, 0.18), 0 4px 16px 0 rgba(180, 180, 180, 0.12);
--shadow-ai-d: 0 8px 32px 0 rgba(60, 60, 60, 0.38), 0 4px 16px 0 rgba(0, 0, 0, 0.32);
}



.rainbow-border-animated {
  --angle: 0deg;
  border-width: 1px;
  border-style: double;
  border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
  animation: rotate 6s linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
