@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes rainbow-border {
  0% { border-color: #ff0000; }
  16% { border-color: #ff9900; }
  33% { border-color: #ffff00; }
  50% { border-color: #33ff00; }
  66% { border-color: #00ccff; }
  83% { border-color: #9900ff; }
  100% { border-color: #ff0000; }
}

.rainbow-border {
  border-width: 1px;
  border-style: solid;
  animation: rainbow-border 1.5s linear infinite;
  transition: border-color 1.5s ease-out, border-width 1.5s ease-out;
}
@theme {


/* --color-light-100: #f9f8ff;
--color-light-200: #e6e3fa;
--color-light-300: #cfc7e7;
--color-mint-600: #a07be6;
--color-secondary-l: #C1E67B;
--color-dark-100: #181332;
--color-dark-200: #120e26;
--color-dark-300: #080817;
--color-mint-700: #3a215a;
--color-secondary-d: #415A21; */

/* --color-light-100: #f6faf7;
--color-light-200: #e3ede6;
--color-light-300: #cfd8cf;
--color-mint-600: #10b981;
--color-secondary: #eaeaea;
--color-dark-100: #16251a;
--color-dark-200: #101a12;
--color-dark-300: #070d08;
--color-mint-700: #04432f;
--color-secondary: #cfcfcf; */

--color-light-100: #FCFCFC;
--color-light-200: #E8E8E8;
--color-light-300: #CCCCCC;
--color-mint-600: #005A73;
--color-secondary-l: #b3dbe6;

--color-dark-100: #07161a;
--color-dark-200: #050e12;
--color-dark-300: #030a0c;
--color-mint-700: #00222b;
--color-secondary-d: #072c34;

--shadow-subtle-l:  0 8px 22px 0 rgba(44, 62, 80, 0.18), 0 4px 16px 0 rgba(180, 180, 180, 0.12), 0 2px 8px 0 rgba(140,111,199,0.22);
--shadow-subtle-d: 0px 0px 5px 2px var(--color-mint-700);

--shadow-ai-l: 0 8px 32px 0 rgba(44, 62, 80, 0.18), 0 4px 16px 0 rgba(180, 180, 180, 0.12);
--shadow-ai-d: 0 8px 32px 0 rgba(60, 60, 60, 0.38), 0 4px 16px 0 rgba(0, 0, 0, 0.32);
}



.rainbow-border-animated {
  --angle: 0deg;
  border-width: 1px;
  border-style: double;
  border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
  animation: rotate 6s linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
