@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {

/* ==================== 1. Navy & Gold ==================== */
/* Light */
--color-light-100: #f7fafc;
--color-light-200: #e3e8ee;
--color-light-300: #cfd8e3;
--color-mint-600: #1a237e;
--color-secondary-300: #bfa14a;
/* Dark */
--color-dark-300: #0a0c12;
--color-dark-200: #161925;
--color-dark-100: #23263a;
--color-mint-600: #283593;
--color-secondary-300: #ffd700;



/* ==================== 3. Slate & Red ==================== */
/* Light */
/* --color-light-100: #f6f7f9;
--color-light-200: #e2e4e8;
--color-light-300: #c7cbd1;
--color-mint-600: #b71c1c;
--color-secondary-300: #374151; */
/* Dark */
/* --color-dark-300: #111113;
--color-dark-200: #1b1c1e;
--color-dark-100: #28292b;
--color-mint-600: #c62828;
--color-secondary-300: #64748b; */


/* ==================== 7. Carbon & Teal ==================== */
/* Light */
/* --color-light-100: #f6f8f7;
--color-light-200: #e2e7e5;
--color-light-300: #c7d1ce;
--color-mint-600: #009688;
--color-secondary-300: #263238; */
/* Dark */
/* --color-dark-300: #101211;
--color-dark-200: #1a1e1c;
--color-dark-100: #232926;
--color-mint-600: #26a69a;
--color-secondary-300: #455a64; */




  --transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
